@import "../../shared/sass/_variables.scss";
.component-form-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 20vh;
}

.component-from-head__nav {
  color: color("text");
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid color("main");
  width: 120px;
}

.component-from-head__nav.active {
  color: color("bodyBackground");
  background-color: color("main");
}

.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
