@import "../../shared/sass/_variables.scss";

.component-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 50px auto;
}

.component-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.component-form__input {
  display: flex;
  background-color: color("lightBackground");
  border: none;
  flex: 9;
  padding: 0px 10px;
  outline: none;
  color: color("text");
}
.component-form__input::placeholder {
  font-size: 12px;
}
.component-form__form-field .material-icons {
  color: color("textSubtitle");
  flex: 1;
  margin-left: 4px;
}

.component-form__form-field {
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: color("lightBackground");
  width: 80vw;
}
.component-form__input-container {
  display: flex;
  margin-bottom: 10px;
}

.component-form__submit-button {
  border: 1px solid color("main");
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: color("main");
  font-weight: bold;
  outline: none;
}
