.component-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  margin: 50px auto;
}

.component-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e4e0e0;
  border: none;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 0px 10px;
  outline: none;
  color: #000;
}

.component-form__input::-webkit-input-placeholder {
  font-size: 12px;
}

.component-form__input:-ms-input-placeholder {
  font-size: 12px;
}

.component-form__input::-ms-input-placeholder {
  font-size: 12px;
}

.component-form__input::placeholder {
  font-size: 12px;
}

.component-form__form-field .material-icons {
  color: #a5a5a5;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 4px;
}

.component-form__form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background-color: #e4e0e0;
  width: 80vw;
}

.component-form__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.component-form__submit-button {
  border: 1px solid #ffba2d;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #ffba2d;
  font-weight: bold;
  outline: none;
}

.component-form-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-top: 20vh;
}

.component-from-head__nav {
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffba2d;
  width: 120px;
}

.component-from-head__nav.active {
  color: #fff;
  background-color: #ffba2d;
}

.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*# sourceMappingURL=index.css.map */