$colors: (
  text: #fff,
  textSubtitle: #a5a5a5,
  textPrimary: #8c8c8c,
  main: #ffba2d,
  secondary: #f55747,
  boxShadow: #a5a5a5,
  bodyBackground: #040404,
  lightBackground: #25262b,
  icon: #ffba2d,
  cover: #000000a5,
  header1: #8c8c8c,
  border: #a5a5a5,
  border2: #fff,
  boxshadow2: #fff,
  background2: #393a3d,
  textShadow: #000
);

@function color($color_name) {
  @return map-get($colors, $color_name);
}

$animations: (
  normal: all 400ms ease
);

@function animation($animation_name) {
  @return map-get($animations, $animation_name);
}
