$colors: (
  text: #3b3b3b,
  textSubtitle: #7c7c7c,
  textPrimary: #8c8c8c,
  textLighter: #3b3b3b,
  main: #ffba2d,
  mainOpicity: #ffba2dcf,
  secondary: #f55747,
  myRed: #f55747,
  myBlue: rgb(76, 76, 250),
  boxShadow: #d0d0d0,
  bodyBackground: #fff,
  headBackground: #ffba2d,
  lightBackground: #f6f6f6,
  icon: #ffba2d,
  // cover: #000000a5,
  cover: #c7c7c7a5,
  header1: #8c8c8c,
  border: #a5a5a5,
  border2: #a5a5a5,
  lightBorder: #e0dcdc,
  boxshadow2: #fff,
  textButton: #fff,
  // background2: #393a3d,
  background2: rgb(209, 207, 207),
  textShadow: #000
);

@function color($color_name) {
  @return map-get($colors, $color_name);
}

$animations: (
  normal: all 400ms ease
);

@function animation($animation_name) {
  @return map-get($animations, $animation_name);
}
