@import "./_variables.scss";

.component-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  border-bottom: 2px solid color("border");
}

.component-head .material-icons {
  font-size: 26px;
  color: color("icon");
}
