@import "./_variables.scss";

.component-shopping-cart__header {
  display: flex;
  width: 100vw;
  height: 6vh;
  background-color: color("mainOpicity");
  z-index: 0;
  position: fixed;
  left: 0;
  bottom: 0;
}
.component-shopping-cart__cover {
  height: 100vh;
  width: 100vw;
  background-color: color("cover");
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.component-shopping-cart__list {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70vh;
  width: 100vw;
  background-color: color("bodyBackground");
  overflow: scroll;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.component-shopping-cart__icon-container {
  position: absolute;
  top: -10px;
  left: 20px;
  border-radius: 50%;
  border: 2px solid color("main");
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color("bodyBackground");
}
.component-shopping-cart__icon-container .material-icons {
  font-size: 26px;
  color: color("icon");
}
.component-shopping-cart__icon-quantity {
  position: absolute;
  border-radius: 50%;
  background-color: color("secondary");
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  left: 25px;
  top: -5px;
  color: color("bodyBackground");
}
.component-shopping-cart__list__header {
  height: 6vh;
  background-color: color("main");
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  width: 100vw;
  left: 0;
  box-sizing: border-box;
  z-index: 300;
}

.component-shopping-cart__list__body {
  flex: 1;
}

.component-shopping-cart__list__footer {
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: color("bodyBackground");
  box-shadow: 0px 0px 5px color("border");
  z-index: 300;
}
.component-shopping-cart__list__button-confirm {
  background-color: color("main");
  border: 1px solid color("main");
  border-radius: 3px;
  height: 35px;
  width: 120px;
  color: color("text");
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.component-shopping-cart__list__header-quantity {
  width: 50px;
  background-color: color("text");
  color: color("main");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}
.component-shopping-cart__list__header-quantity .material-icons {
  border-right: 1px solid color("border");
}
