@import "../../shared/sass/_variables.scss";

.component-account-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.component-account-information__footer__button-logout {
  width: 80px;
  background-color: color("main");
  color: color("text");
  font-weight: bold;
  border: 1px solid color("border2");
  height: 20px;
  border-radius: 3px;
}
