@import "../../shared/sass/_variables.scss";

.component-order-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  background-color: color("lightBackground");
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;
    .information-row {
      font-size: 12px;
      font-weight: bold;
      color: color("text");
      .title {
        margin-right: 10px;
      }
    }
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px 20px 10px;
    .information {
      display: flex;
      flex-direction: column;
      width: 80%;
      color: color("textSubtitle");
      .information-row {
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
        .title {
          width: 26%;
        }
        .value {
          font-size: 10px;
          line-height: 16px;
          display: inline-block;
          text-overflow: ellipsis;
          width: 70%;
          /* Required for text-overflow to do anything */
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
    .quantity-status {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
      width: 20%;
      .status {
        margin-bottom: 15px;
        font-weight: bold;
        color: color("textLighter");
        &.pending {
          color: color("myRed");
        }
        &.complete {
          color: color("textSubtitle");
        }
        &.saved {
          color: color("myBlue");
        }
      }
      .quantity {
        .value {
          color: color("main");
          font-size: 18px;
          font-weight: bold;
          margin-right: 5px;
        }
        .unit {
          color: color("textSubtitle");
        }
      }
    }
  }
  .card-detail {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 20px 10px;
    transition: all 300ms ease;
    .header {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 0px;
      span {
        .title {
          color: color("textSubtitle");
          padding-right: 10px;
        }
        .value {
          color: color("text");
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
    .list {
      display: flex;
      flex-direction: column;

      .order-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-right: 10%;
        color: color("textSubtitle");
        border-bottom: 1px solid color("bodyBackground");
        .information {
          .row {
            margin-bottom: 5px;
            &.name {
              font-size: 10px;
            }
            &.unit-price,
            &.total {
              font-size: 13px;
              .title {
                font-size: 10px;
                padding-right: 3px;
              }
            }
          }
        }
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        border: 1px solid color("bodyBackground");
        background-color: color("myRed");
        box-shadow: 0 0 5px color("myRed");
        border-radius: 4px;
        color: color("bodyBackground");
        padding: 5px 15px;
      }
    }
  }
}
