.component-order-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  border: 1px solid #a5a5a5;
  font-size: 12px;
  -webkit-box-shadow: 0px 0px 1px #fff;
          box-shadow: 0px 0px 1px #fff;
}

.component-order-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.component-order-card__header__left,
.component-order-card__header__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.component-order-card__header__invoice-no,
.component-order-card__header__added-date,
.component-order-card__header__picked-shop,
.component-order-card__header__picked-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component-order-card__header__invoice-no,
.component-order-card__header__picked-shop {
  border-bottom: 1px solid #a5a5a5;
}

.component-order-card__header__invoice-no__title,
.component-order-card__header__added-date__title,
.component-order-card__header__picked-shop__title,
.component-order-card__header__picked-date__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #a5a5a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.component-order-card__header__picked-shop__title,
.component-order-card__header__picked-date__title {
  border-left: 1px solid #a5a5a5;
}

.component-order-card__header__invoice-no__value,
.component-order-card__header__added-date__value,
.component-order-card__header__picked-shop__value,
.component-order-card__header__picked-date__value {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: right;
  padding-right: 5px;
}

.component-order-card__body {
  font-size: 10px;
  height: 30px;
  overflow: scroll;
  border-top: 1px solid #a5a5a5;
  width: 100%;
}

.component-order-card__body__list-item {
  margin-right: 5px;
  padding: 4px;
  display: -webkit-inline-box;
}

.component-order-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-top: 1px solid #a5a5a5;
  height: 45px;
}

.component-order-card__footer__button-remove,
.component-order-card__footer__button-continue {
  outline: none;
  width: 90px;
  color: #fff;
  border-radius: 3px;
  height: 20px;
  border: 1px solid;
  font-size: 12px;
}

.component-order-card__footer__button-remove {
  background-color: #f55747;
  border-color: #f55747;
}

.component-order-card__footer__button-continue {
  background-color: #ffba2d;
  border-color: #ffba2d;
}
/*# sourceMappingURL=OrderCard.css.map */