@font-face {
  font-family: "pingfang";
  src: url("./fonts/pingfang/pingfang.ttf");
}
.carousel .slide img {
  height: 130px;
}

.carousel .slide {
  background-color: #fff;
  height: 130px;
}

.component-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  border-bottom: 2px solid #a5a5a5;
}

.component-head .material-icons {
  font-size: 26px;
  color: #ffba2d;
}

.component-modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #c7c7c7a5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-modal h1 {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5a5a5;
  color: #8c8c8c;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
}

.component-order-item-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #a5a5a5;
  height: 60px;
  align-items: center;
}

.component-order-item-card__left,
.component-order-item-card__middle,
.component-order-item-card__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component-order-item-card__left {
  flex: 1;
}

.component-order-item-card__middle {
  flex: 2;
  max-height: 100%;
  overflow: scroll;
}

.component-order-item-card__right {
  flex: 1;
  align-items: flex-end;
}

.component-order-item-card__name {
  font-size: 12px;
  font-weight: bold;
}

.component-order-item-card__quantity {
  font-size: 14px;
  font-weight: normal;
  color: #3b3b3b;
  flex: 1;
}

.component-order-item-card__price {
  font-size: 15px;
  margin-bottom: 5px;
}

.component-order-item-card__button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.component-order-item-card__button-group-init {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
}

.component-order-item-card .material-icons {
  font-size: 16px;
  color: #ffba2d;
}

.component-order-item-card__product-quantity {
  font-size: 14px;
  line-height: 16px;
}

.component-order-item-card__option-value {
  font-size: 8px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 50%;
  height: 18px;
}

.component-order-item-card__option-name {
  color: #ffba2d;
}

.component-order-item-card__option-price {
  color: #7c7c7c;
}

.component-shopping-cart__header {
  display: flex;
  width: 100vw;
  height: 6vh;
  background-color: #ffba2dcf;
  z-index: 0;
  position: fixed;
  left: 0;
  bottom: 0;
}

.component-shopping-cart__cover {
  height: 100vh;
  width: 100vw;
  background-color: #c7c7c7a5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.component-shopping-cart__list {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70vh;
  width: 100vw;
  background-color: #fff;
  overflow: scroll;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.component-shopping-cart__icon-container {
  position: absolute;
  top: -10px;
  left: 20px;
  border-radius: 50%;
  border: 2px solid #ffba2d;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.component-shopping-cart__icon-container .material-icons {
  font-size: 26px;
  color: #ffba2d;
}

.component-shopping-cart__icon-quantity {
  position: absolute;
  border-radius: 50%;
  background-color: #f55747;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  left: 25px;
  top: -5px;
  color: #fff;
}

.component-shopping-cart__list__header {
  height: 6vh;
  background-color: #ffba2d;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  width: 100vw;
  left: 0;
  box-sizing: border-box;
  z-index: 300;
}

.component-shopping-cart__list__body {
  flex: 1;
}

.component-shopping-cart__list__footer {
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 5px #a5a5a5;
  z-index: 300;
}

.component-shopping-cart__list__button-confirm {
  background-color: #ffba2d;
  border: 1px solid #ffba2d;
  border-radius: 3px;
  height: 35px;
  width: 120px;
  color: #3b3b3b;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.component-shopping-cart__list__header-quantity {
  width: 50px;
  background-color: #3b3b3b;
  color: #ffba2d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.component-shopping-cart__list__header-quantity .material-icons {
  border-right: 1px solid #a5a5a5;
}

.component-notice {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component-notice .primary {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}
.component-notice .secondary {
  font-size: 0.8rem;
  color: #7c7c7c;
}
.component-notice.close {
  background-color: #f55747;
}
.component-notice.open {
  background-color: #ffba2d;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #3b3b3b;
  font-family: "pingfang", Arial, Helvetica, sans-serif !important;
}

body {
  background-color: #fff;
  min-height: 100vh;
  padding: 0px 10px;
}

/* hide ugly scrollbar */
::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

.component-choice-form {
  height: 65vh;
  width: 80vw;
  position: fixed;
  z-index: 500;
  top: 15vh;
  left: 10vw;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #fff;
}

.component-choice-form__header {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 2px solid #a5a5a5;
  margin-bottom: 8px;
}

.component-choice-form__header__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 45px;
}

.component-choice-form__header__image-container img {
  width: 95%;
  height: 95%;
  border-radius: 5px;
}

.component-choice-form__header__product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 46px;
  margin-left: 15px;
}

.component-choice-form__product-name {
  font-size: 12px;
}

.component-choice-form__body {
  padding: 0px 10px;
}

.component-choice-form__option-name {
  text-align: center;
  border-bottom: 1px solid #a5a5a5;
  margin-top: 10px;
}

.component-choice-form__footer {
  position: fixed;
  bottom: 20vh;
  left: 10vw;
  width: 80vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.componente-choice-form__button-container button {
  width: 120px;
  height: 30px;
  background-color: #ffba2d;
  color: #3b3b3b;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 2px #fff;
  border: 1px solid #a5a5a5;
  text-transform: capitalize;
}

.component-choice-form__option-value-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  overflow: scroll;
  position: relative;
}

.component-choice-form__value-wrapper input {
  opacity: 0;
  position: absolute;
}

.component-choice-form__value-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 40px;
  border: 1px solid #a5a5a5;
  position: relative;
}

.component-choice-form__value-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92%;
  border: 1px solid #a5a5a5;
  height: 92%;
}

.component-choice-form__value-wrapper input:checked ~ .component-choice-form__value-info {
  background-color: #ffba2d;
}

hr {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
}

.component-choice-form__value-name {
  font-size: 12px;
  flex: 1;
  line-height: 20px;
}

.component-choice-form__value-price {
  font-size: 10px;
  color: #3b3b3b;
}

.component-choice-form__option-intro {
  font-size: 10px;
}

.component-product-card {
  padding: 5px 5px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 10px;
  border: 1px solid #a5a5a5;
  position: relative;
}
.component-product-card .groupon-tag {
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  font-size: 16px;
  border: 2px solid #ffba2d;
  color: #ffba2d;
  font-weight: bold;
  transform: rotateZ(-45deg);
}

.pop-up-product-detail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #c7c7c7a5;
}
.pop-up-product-detail .content {
  width: 90%;
  max-height: 90%;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
}
.pop-up-product-detail .content img {
  width: 100%;
  max-height: 85%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pop-up-product-detail .content .product-info {
  min-height: 15%;
  padding: 5px;
}

.component-product-cover {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c7c7c7a5;
}

.component-product-card__header {
  display: flex;
}

.component-product-card__image-container {
  width: 90px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.component-product-card__image-container img {
  width: 90px;
  height: 64px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #fff;
}

.component-product-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.component-product-card__info__header {
  display: flex;
  justify-content: space-between;
}

.component-product-card__name {
  font-size: 12px;
}

.component-product-card__quantity {
  font-size: 14px;
  font-weight: normal;
  color: #3b3b3b;
  flex: 1;
}
.component-product-card__quantity span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #f55747;
  color: #f55747;
  border-radius: 3px;
}

.component-product-card__price {
  font-size: 12px;
}

.component-product-card__info__footer {
  display: flex;
  justify-content: space-between;
}

.component-product_card__button-group {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.component-product_card__button-group-init {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.component-product-card .material-icons {
  font-size: 16px;
  color: #ffba2d;
}

.component-product-card .material-icons.disable {
  font-size: 16px;
  color: #7c7c7c;
}

.component-product-card__product-quantity {
  font-size: 14px;
  line-height: 16px;
}

.componente_product-card__cover {
  position: fixed;
  z-index: 450;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #c7c7c7a5;
}

.component-products {
  display: flex;
  justify-content: space-between;
}

.component-products__product-list,
.component-products__category-list {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px);
  overflow: scroll;
  margin-top: 10px;
}

.component-products__category-list {
  flex: 1;
}

.component-products__category-list .component-products__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #a5a5a5;
  overflow: hidden;
  background-color: #d1cfcf;
  padding: 0 10px;
}

.component-products__category-list .component-products__item span {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.component-products__category-list .component-products__item.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #a5a5a5;
  border-right: none;
  overflow: hidden;
  font-weight: bold;
  border-left: 3px solid #ffba2d;
  background-color: transparent;
}

.component-products__product-list {
  flex: 3;
  padding: 0 10px;
  padding-bottom: 10vh;
}

.component-products .component-products__product-list .component-products__item h3 {
  font-weight: normal;
  font-size: 16px;
}

.component-confirm {
  overflow: scroll;
  height: 88vh;
  padding-bottom: 11vh;
}

.component-confirm__section-header {
  font-size: 12px;
  height: 6vh;
  margin-top: 2vh;
  padding-bottom: 2vh;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0dcdc;
}
.component-confirm__section-header .is-done {
  width: 10%;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.component-confirm__section-header .is-done .material-icons {
  color: #2ad75c;
  margin-top: -4px;
}
.component-confirm__section-header .component-confirm__subtitle {
  color: #8c8c8c;
  flex: 6;
}
.component-confirm__section-header .component-confirm__subtitle.active {
  color: #ffba2d;
}
.component-confirm__section-header .component-confirm__subtitle .title,
.component-confirm__section-header .component-confirm__subtitle .detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.component-confirm__section-header .component-confirm__subtitle .title {
  color: #3b3b3b;
  font-size: 1rem;
}
.component-confirm__section-header .component-confirm__subtitle .detail {
  color: #7c7c7c;
  padding: 3px 0px;
  font-size: 10px;
  font-weight: normal;
  text-overflow: ellipsis;
  display: inline-block;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  width: 70vw;
}
.component-confirm__section-header .material-icons {
  height: 100%;
  color: #8c8c8c;
}

.payment-section__header-text {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #7c7c7c;
}

.payment-section__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.payment-section__body input {
  opacity: 0;
  position: absolute;
}

.payment-section__radio-label {
  margin-top: 10px;
}

.payment-section__check-mark-wrapper {
  background-color: #f6f6f6;
  height: 52px;
  width: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #a5a5a5;
  padding: 2px;
}

.payment-section__body-img {
  width: 120px;
  background-color: #fff;
  border-radius: 3px;
  padding: 3px;
  height: 46px;
}

.payment-section__body input:checked ~ .payment-section__check-mark-wrapper {
  background-color: #ffba2d;
  border-color: #ffba2d;
}

.payment-section__footer {
  display: flex;
  padding: 10px 15px;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.payment-section__footer-button {
  width: 99px;
  line-height: 28px;
  height: 28px;
  border-radius: 3px;
  background-color: #ffba2d;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #3b3b3b;
  text-decoration: none;
  border: none;
}

.component-confirm__button-group {
  display: flex;
  height: 70px;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  z-index: 500;
  box-shadow: 0 0 3px #a5a5a5;
}

.component-confirm__payment-button,
.component-confirm__save-button {
  width: 120px;
  height: 30px;
  background-color: #fff;
  border-radius: 3px;
  outline: none;
  border: 2px solid;
  font-weight: bold;
  box-shadow: 0px 0px 3px #a5a5a5;
  transition: all 300ms ease;
}

.component-confirm__save-button {
  color: #ffba2d;
}

.component-confirm__save-button:hover,
.component-confirm__save-button:active,
.component-confirm__payment-button:hover,
.component-confirm__payment-button:active {
  box-shadow: none;
  transition: all 300ms ease;
}

.component-confirm__payment-button {
  color: #f55747;
}

.component-confirm__customer-comments {
  width: 98%;
  height: 200px;
  margin: auto;
  margin-top: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #e0dcdc;
}

.component-confirm__customer-comments:focus {
  border-color: #ffba2d;
}

.component-open-date-tag {
  border: 1px solid #a5a5a5;
  height: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.component-open-date-tag__content {
  padding: 2px 5px;
  background-color: #ffba2d;
  font-size: 12px;
  width: 76px;
  height: 16px;
  z-index: 1;
}

.component-open-date-tag__content.disable {
  padding: 2px 5px;
  font-size: 12px;
  width: 76px;
  height: 16px;
  z-index: 1;
}

.component-confirm .shop-section {
  padding-left: 10%;
}
.component-confirm .shop-section .shop-card {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-radius: 5px;
  margin-right: 1px;
  margin-top: 10px;
  transition: all 300ms ease-in;
}
.component-confirm .shop-section .shop-card.active {
  box-shadow: 0px 0px 4px #d0d0d0;
  transition: all 300ms ease-in;
}
.component-confirm .shop-section .shop-card .information {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 15px;
}
.component-confirm .shop-section .shop-card .information .sub-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  word-wrap: break-word;
  margin-bottom: 15px;
}
.component-confirm .shop-section .shop-card .information .sub-info.date .title {
  height: 100%;
  justify-content: center;
}
.component-confirm .shop-section .shop-card .information .sub-info .title {
  flex: 1 1;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #7c7c7c;
  font-size: 10px;
}
.component-confirm .shop-section .shop-card .information .sub-info .value {
  flex: 2;
  font-size: 14px;
  height: 100%;
  display: flex;
  color: #3b3b3b;
  font-weight: normal;
}
.component-confirm .shop-section .shop-card .information .sub-info .value select {
  border-radius: 3px;
  border: 1px solid #e0dcdc;
  height: 30px;
}

.component-confirm .payment-section {
  padding-left: 10%;
}

.component-complete {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.component-complete__icon {
  margin-top: 7vh;
  margin-bottom: 4vh;
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-complete__icon .material-icons {
  font-size: 60px;
  color: #ffba2d;
  border: 5px solid #ffba2d;
  border-radius: 50%;
  padding: 15px;
}

.component-complete__title {
  height: 8vh;
  letter-spacing: 3px;
  font-size: 1.6rem;
}

.component-complete__trasition-information {
  width: 80vw;
  height: 45vh;
  overflow: scroll;
}

.component-complete__trasition-information__row {
  width: 100%;
  justify-content: space-between;
  display: flex;
  height: 5vh;
  align-items: flex-end;
}

.component-complete__trasition-information__value {
  font-size: 12px;
  text-align: right;
}

.component-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 50px auto;
}

.component-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component-form__input {
  display: flex;
  background-color: #f6f6f6;
  border: none;
  flex: 9;
  padding: 0px 10px;
  outline: none;
  color: #3b3b3b;
}

.component-form__input::placeholder {
  font-size: 12px;
}

.component-form__form-field .material-icons {
  color: #7c7c7c;
  flex: 1;
  margin-left: 4px;
}

.component-form__form-field {
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #f6f6f6;
  width: 80vw;
}

.component-form__input-container {
  display: flex;
  margin-bottom: 10px;
}

.component-form__submit-button {
  border: 1px solid #ffba2d;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #ffba2d;
  font-weight: bold;
  outline: none;
}

.component-form-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 20vh;
}

.component-from-head__nav {
  color: #3b3b3b;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffba2d;
  width: 120px;
}

.component-from-head__nav.active {
  color: #fff;
  background-color: #ffba2d;
}

.left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.component-account-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.component-account-information .component-account-information__footer button {
  min-width: 80px;
  color: #3b3b3b;
  font-weight: bold;
  border: 1px solid #fff;
  margin-left: 10px;
  height: 30px;
  border-radius: 3px;
}
.component-account-information .component-account-information__footer button.logout {
  background-color: #f55747;
  box-shadow: 0 0 3px #f55747;
}
.component-account-information .component-account-information__footer button.nav-to-admin {
  background-color: #ffba2d;
  box-shadow: 0 0 3px #ffba2d;
}

.component-order-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  background-color: #f6f6f6;
}
.component-order-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
}
.component-order-card .header .information-row {
  font-size: 12px;
  font-weight: bold;
  color: #3b3b3b;
}
.component-order-card .header .information-row .title {
  margin-right: 10px;
}
.component-order-card .card-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 10px 20px 10px;
}
.component-order-card .card-body .information {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: #7c7c7c;
}
.component-order-card .card-body .information .information-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}
.component-order-card .card-body .information .information-row .title {
  width: 26%;
}
.component-order-card .card-body .information .information-row .value {
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
  text-overflow: ellipsis;
  width: 70%;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
.component-order-card .card-body .quantity-status {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
}
.component-order-card .card-body .quantity-status .status {
  margin-bottom: 15px;
  font-weight: bold;
  color: #3b3b3b;
}
.component-order-card .card-body .quantity-status .status.pending {
  color: #f55747;
}
.component-order-card .card-body .quantity-status .status.complete {
  color: #7c7c7c;
}
.component-order-card .card-body .quantity-status .status.saved {
  color: #4c4cfa;
}
.component-order-card .card-body .quantity-status .quantity .value {
  color: #ffba2d;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}
.component-order-card .card-body .quantity-status .quantity .unit {
  color: #7c7c7c;
}
.component-order-card .card-detail {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 20px 10px;
  transition: all 300ms ease;
}
.component-order-card .card-detail .header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
}
.component-order-card .card-detail .header span .title {
  color: #7c7c7c;
  padding-right: 10px;
}
.component-order-card .card-detail .header span .value {
  color: #3b3b3b;
  font-weight: bold;
  font-size: 16px;
}
.component-order-card .card-detail .list {
  display: flex;
  flex-direction: column;
}
.component-order-card .card-detail .list .order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-right: 10%;
  color: #7c7c7c;
  border-bottom: 1px solid #fff;
}
.component-order-card .card-detail .list .order-item .information .row {
  margin-bottom: 5px;
}
.component-order-card .card-detail .list .order-item .information .row.name {
  font-size: 10px;
}
.component-order-card .card-detail .list .order-item .information .row.unit-price, .component-order-card .card-detail .list .order-item .information .row.total {
  font-size: 13px;
}
.component-order-card .card-detail .list .order-item .information .row.unit-price .title, .component-order-card .card-detail .list .order-item .information .row.total .title {
  font-size: 10px;
  padding-right: 3px;
}
.component-order-card .card-detail .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-order-card .card-detail .footer button {
  border: 1px solid #fff;
  background-color: #f55747;
  box-shadow: 0 0 5px #f55747;
  border-radius: 4px;
  color: #fff;
  padding: 5px 15px;
}

/*# sourceMappingURL=App.css.map */
