* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background-color: #040404;
  min-height: 100vh;
  padding: 0px 10px;
}
/* hide ugly scrollbar */
::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}
