.component-choice-form {
  height: 65vh;
  width: 80vw;
  position: fixed;
  z-index: 500;
  top: 15vh;
  left: 10vw;
  background-color: #040404;
  border-radius: 5px;
  box-shadow: 0px 0px 2px white;
}

.component-choice-form__header {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 2px solid #5a5a5a;
  margin-bottom: 8px;
}
.component-choice-form__header__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 45px;
}
.component-choice-form__header__image-container img {
  width: 95%;
  height: 95%;
  border-radius: 5px;
}
.component-choice-form__header__product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 46px;
  margin-left: 15px;
}
.component-choice-form__product-name {
  font-size: 12px;
}
.component-choice-form__body {
  padding: 0px 10px;
}

.component-choice-form__option-name {
  text-align: center;
  border-bottom: 1px solid #a5a5a5;
  margin-top: 10px;
}
.component-choice-form__footer {
  position: fixed;
  bottom: 20vh;
  left: 10vw;
  width: 80vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.componente-choice-form__button-container button {
  width: 120px;
  height: 30px;
  border: 1px solid #daae14;
  background-color: #daae14;
  color: white;
  font-weight: bold;
}
