.component-open-date-tag {
  border: 1px solid #fff;
  height: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.component-open-date-tag__content {
  padding: 2px 5px;
  background-color: #daae14;
  font-size: 12px;
  width: 76px;
  height: 16px;
  z-index: 1;
}

.component-open-date-tag__content.disable {
  padding: 2px 5px;
  background-color: #5a5a5a;
  font-size: 12px;
  width: 76px;
  height: 16px;
  z-index: 1;
}
