.component-product-card {
  padding: 5px 5px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 10px;
  border: 1px solid #a5a5a5;
}
.component-product-card__header {
  display: flex;
  margin-bottom: 5px;
}
.component-product-card__image-container {
  width: 90px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.component-product-card__image-container img {
  width: 90px;
  height: 64px;
  border-radius: 5px;
}

.component-product-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.component-product-card__info__header {
  display: flex;
  justify-content: space-between;
}
.component-product-card__name {
  font-size: 12px;
}
.component-product-card__quantity {
  font-size: 14px;
  font-weight: normal;
  color: white;
  flex: 1;
}
.component-product-card__price {
  font-size: 12px;
}
.component-product-card__info__footer {
  display: flex;
  justify-content: space-between;
}
.component-product_card__button-group {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.component-product_card__button-group-init {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.component-product-card .material-icons {
  font-size: 16px;
  color: #ffba2d;
}
