.component-shop-card {
  height: 50vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #daae14;
}
.component-shop-card__cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.component-shop-card__name,
.component-shop-card__address,
.component-shop-card__telephone,
.component-shop-card__open-dates-container {
  z-index: 1;
}
.component-shop-card__open-dates-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}
