@import "../../shared/sass/_variables.scss";

.component-confirm {
  overflow: scroll;
  height: 88vh;
  padding-bottom: 11vh;
}
.component-confirm__section-header {
  font-size: 12px;
  height: 6vh;
  margin-top: 2vh;
  padding-bottom: 2vh;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid color("lightBorder");
  .is-done {
    width: 10%;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    .material-icons {
      color: #2ad75c;
      margin-top: -4px;
    }
  }

  .component-confirm__subtitle {
    color: color("textPrimary");
    flex: 6;
    &.active {
      color: color("main");
    }
    .title,
    .detail {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .title {
      color: color("text");
      font-size: 1rem;
    }
    .detail {
      color: color("textSubtitle");
      padding: 3px 0px;
      font-size: 10px;
      font-weight: normal;
      text-overflow: ellipsis;
      display: inline-block;
      /* Required for text-overflow to do anything */
      white-space: nowrap;
      overflow: hidden;
      width: 70vw;
    }
  }
  .material-icons {
    height: 100%;
    color: color("textPrimary");
  }
}

.payment-section__header-text {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: color("textSubtitle");
}
.payment-section__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.payment-section__body input {
  opacity: 0;
  position: absolute;
}
.payment-section__radio-label {
  margin-top: 10px;
}
.payment-section__check-mark-wrapper {
  background-color: color("lightBackground");
  height: 52px;
  width: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid color("border2");
  padding: 2px;
}
.payment-section__body-img {
  width: 120px;
  background-color: color("bodyBackground");
  border-radius: 3px;
  padding: 3px;
  height: 46px;
}
.payment-section__body input:checked ~ .payment-section__check-mark-wrapper {
  background-color: color("main");
  border-color: color("main");
}
.payment-section__footer {
  display: flex;
  padding: 10px 15px;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.payment-section__footer-button {
  width: 99px;
  line-height: 28px;
  height: 28px;
  border-radius: 3px;
  background-color: color("main");
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: color("text");
  text-decoration: none;
  border: none;
}
.component-confirm__button-group {
  display: flex;
  height: 70px;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: color("bodyBackground");
  justify-content: space-around;
  align-items: center;
  z-index: 500;
  box-shadow: 0 0 3px color("border");
}
.component-confirm__payment-button,
.component-confirm__save-button {
  width: 120px;
  height: 30px;
  background-color: color("bodyBackground");
  border-radius: 3px;
  outline: none;
  border: 2px solid;
  font-weight: bold;
  box-shadow: 0px 0px 3px color("border");
  transition: all 300ms ease;
}
.component-confirm__save-button {
  color: color("main");
}
.component-confirm__save-button:hover,
.component-confirm__save-button:active,
.component-confirm__payment-button:hover,
.component-confirm__payment-button:active {
  box-shadow: none;
  transition: all 300ms ease;
}
.component-confirm__payment-button {
  color: color("secondary");
}

.component-confirm__customer-comments {
  width: 98%;
  height: 200px;
  margin: auto;
  margin-top: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid color("lightBorder");
}
.component-confirm__customer-comments:focus {
  border-color: color("main");
}
