@import "../../shared/sass/_variables.scss";

.component-open-date-tag {
  border: 1px solid color("border2");
  height: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.component-open-date-tag__content {
  padding: 2px 5px;
  background-color: color("main");
  font-size: 12px;
  width: 76px;
  height: 16px;
  z-index: 1;
}

.component-open-date-tag__content.disable {
  padding: 2px 5px;
  background-color: color("grey");
  font-size: 12px;
  width: 76px;
  height: 16px;
  z-index: 1;
}
