.component-confirm {
  .shop-section {
    padding-left: 10%;
    .shop-card {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      border-radius: 5px;
      margin-right: 1px;
      margin-top: 10px;
      transition: all 300ms ease-in;
      &.active {
        box-shadow: 0px 0px 4px color("boxShadow");
        transition: all 300ms ease-in;
      }
      .information {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-right: 15px;
        .sub-info {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          word-wrap: break-word;
          margin-bottom: 15px;
          &.date {
            .title {
              height: 100%;
              justify-content: center;
            }
          }
          .title {
            flex: 1 1;
            height: 17px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: color("textSubtitle");
            font-size: 10px;
          }
          .value {
            flex: 2;
            font-size: 14px;
            height: 100%;
            display: flex;
            color: color("text");
            font-weight: normal;
            select {
              border-radius: 3px;
              border: 1px solid color("lightBorder");
              height: 30px;
            }
          }
        }
      }
    }
  }
}
