.component-shop-card {
  position: relative;
  margin: 10px 0px;
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid color("border2");
  overflow: scroll;
  box-shadow: 0px 3px 3px #a5a5a57d;
  transition: all 400ms ease;
}
.component-shop-card:hover,
.component-shop-card:active {
  background-color: color("cover");
  border-color: color("main");
  box-shadow: none;
  transition: all 400ms ease;
}
.component-shop-card__cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: color("cover");
}

.component-shop-card__name,
.component-shop-card__address,
.component-shop-card__telephone {
  z-index: 1;
  // text-shadow: 1px 1px 1px color("textShadow");
}
.component-shop-card__open-dates-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}

.component-shop-card__name-telephone {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.component-shop-card__name {
  color: color("main");
}
.component-shop-card__date-picker__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 12px;
  .component-add-option-to-new-product-form__selector {
    height: 40px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    width: 60%;
  }
}
.react-datepicker__input-container input {
  display: none;
}

.react-datepicker__day--highlighted {
  background-color: color("main");
  color: color("text");
}
.react-datepicker-wrapper {
  opacity: 1;
}
