.component-shop-card {
  height: 100px;
  position: relative;
  margin: 10px 0px;
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid color("border2");
  overflow: scroll;
}
.component-shop-card:hover,
.component-shop-card:active {
  background-color: color("cover");
  border-color: color("main");
}
.component-shop-card__cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: color("cover");
}

.component-shop-card__name,
.component-shop-card__address,
.component-shop-card__telephone {
  z-index: 1;
  text-shadow: 1px 1px 1px color("textShadow");
}
.component-shop-card__open-dates-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-wrap: wrap;
}

.component-shop-card__name-telephone {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.component-shop-card__name {
  color: color("main");
}
.component-shop-card__date-picker__label {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 80%;
  height: 30px;
  font-size: 12px;
}
.react-datepicker__input-container input {
  display: none;
}

.react-datepicker__day--highlighted {
  background-color: color("main");
  color: color("text");
}
.react-datepicker-wrapper {
  opacity: 1;
}
