.component-choice-form {
  height: 65vh;
  width: 80vw;
  position: fixed;
  z-index: 500;
  top: 15vh;
  left: 10vw;
  background-color: #040404;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px white;
          box-shadow: 0px 0px 2px white;
}

.component-choice-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  border-bottom: 2px solid #5a5a5a;
  margin-bottom: 8px;
}

.component-choice-form__header__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 45px;
}

.component-choice-form__header__image-container img {
  width: 95%;
  height: 95%;
  border-radius: 5px;
}

.component-choice-form__header__product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 46px;
  margin-left: 15px;
}

.component-choice-form__product-name {
  font-size: 12px;
}

.component-choice-form__body {
  padding: 0px 10px;
}

.component-choice-form__option-name {
  text-align: center;
  border-bottom: 1px solid #a5a5a5;
  margin-top: 10px;
}

.component-choice-form__footer {
  position: fixed;
  bottom: 20vh;
  left: 10vw;
  width: 80vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.componente-choice-form__button-container button {
  width: 120px;
  height: 30px;
  background-color: #daae14;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #fff;
          box-shadow: 0 0 2px #fff;
  border: 1px solid #fff;
  text-transform: capitalize;
}

.component-choice-form__option-value-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  overflow: scroll;
  position: relative;
}

.component-choice-form__value-wrapper input {
  opacity: 0;
  position: absolute;
}

.component-choice-form__value-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 40px;
  border: 1px solid #fff;
  position: relative;
}

.component-choice-form__value-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 92%;
  background-color: #5a5a5a;
  border: 1px solid #fff;
  height: 92%;
}

.component-choice-form__value-wrapper
input:checked
~ .component-choice-form__value-info {
  background-color: #daae14;
}

hr {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
}

.component-choice-form__value-name {
  font-size: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 20px;
}

.component-choice-form__value-price {
  font-size: 10px;
  color: #fff;
}

.component-choice-form__option-intro {
  font-size: 10px;
  color: #5a5a5a;
}
/*# sourceMappingURL=ChoiceForm.css.map */