@import "../../shared/sass/_variables.scss";

.component-products {
  display: flex;
  justify-content: space-between;
}

.component-products__product-list,
.component-products__category-list {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 182px);
  overflow: scroll;
  margin-top: 10px;
}
.component-products__category-list {
  flex: 1;
}

.component-products__category-list .component-products__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid color("border");
  overflow: hidden;
  background-color: color("background2");
  padding: 0 10px;
}

.component-products__category-list .component-products__item span {
  text-align: center;
}

.component-products__category-list .component-products__item.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid color("border");
  border-right: none;
  overflow: hidden;
  font-weight: bold;
  border-left: 3px solid color("main");
  background-color: transparent;
}
.component-products__product-list {
  flex: 3;
  padding: 0 10px;
  padding-bottom: 10vh;
}
