@import "../../shared/sass/_variables.scss";

.component-product-card {
  padding: 5px 5px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 10px;
  border: 1px solid color("border");
  position: relative;
}
.component-product-cover {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: color("cover");
}
.component-product-card__header {
  display: flex;
}
.component-product-card__image-container {
  width: 90px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.component-product-card__image-container img {
  width: 90px;
  height: 64px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px color("boxshadow2");
}

.component-product-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.component-product-card__info__header {
  display: flex;
  justify-content: space-between;
}
.component-product-card__name {
  font-size: 12px;
}
.component-product-card__quantity {
  font-size: 14px;
  font-weight: normal;
  color: color("text");
  flex: 1;
}
.component-product-card__price {
  font-size: 12px;
}
.component-product-card__info__footer {
  display: flex;
  justify-content: space-between;
}
.component-product_card__button-group {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.component-product_card__button-group-init {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.component-product-card .material-icons {
  font-size: 16px;
  color: color("main");
}
.component-product-card .material-icons.disable {
  font-size: 16px;
  color: color("textSubtitle");
}
.component-product-card__product-quantity {
  font-size: 14px;
  line-height: 16px;
}

.componente_product-card__cover {
  position: fixed;
  z-index: 450;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: color("cover");
}
